@import url('https://fonts.googleapis.com/css?family=Montserrat');

.table {
  //width: 100%;
  width: 50%;
  height: auto;
  //margin: 50px 0 100px;
  margin: 25px 0 100px;
  margin-left: 40px;//sacar en @media
  //border: 2px solid lightgray;
  border: 1px solid lightgray;
  //border-radius: 10px;
  border-radius: 5px;
}

.row {
  //height: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  border-bottom: 2px solid lightgray;
}

.row div:first-child {
  width: 50%;
}

.row p {
  margin: 0;
  margin-left: 40px;
  align-self: flex-start;
  font-family: 'Montserrat', sans-serif;
  //font-size: 30px;
  font-size: 15px;

}

.row svg {
  width: 100%;
  margin: 0;
  margin-right: 40px;
  align-self: flex-end;
}

.row-content {
  max-height: 1000px;
  font-family: 'Montserrat', sans-serif;
  //font-size: 30px;
  font-size: 15px;
  margin: 20px;
  display: block;
}

.row-content.hidden {
  max-height: 0px;
  display: none;
}

.row-content svg {
  margin-left: 15px;
}

.row-content p {
  overflow-wrap: break-word;
  margin-left: 15px;
}

